.banner-wrapper{
    width:82%;
    background-color: #FFFFFF;
    border:solid #DEE2E7 1px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0 auto 33px;
    padding:17px 20px 10px 14px;
    border-radius:6px;
   
}

.category-list{
  
    
    li{
        padding:11px 10px 10px 10px;
        cursor: pointer;
        color:#505050;
        font-size:16px;   
        margin-right:13px;
    }

    li:hover{
        background-color: #E5F1FF;
        border-radius:6px;
    }
}

.banner-img{
    position: relative;

    img{
        max-width:664px;
        width:100%;
    }

  
    
    .banner-text{
        position: absolute;
        top:56px;
        left:44px;

        h2{
            font-size:28px;
            color:#1C1C1C;
            font-weight:400;
        }

        h1{
            font-size:32px;
            font-weight:700;
            color:#1C1C1C;
            margin-bottom:17px;
        }
        .bannerbtn{
            font-size:16px;
            font-weight:500;
            color:#1C1C1C;
            height:40px;
            padding:0 16px;
            background-color:#FFF;
            border:1px solid white;
            box-shadow:  0px 1px 2px 0px rgba(56, 56, 56, 0.08);
            border-radius:6px;
            cursor: pointer;
            align-items: center;
        }
        .bannerbtn:hover{
            color:#0D6EFD;
        }
    }
}

.user-log{
    background-color:#E3F0FF;
    padding:14px 10px 12px 10px;
    margin-bottom:10px;
    border-radius:6px;
     
    div{
        display: flex;
        align-items: center;
    }

    .user-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p{
            margin-left:9px;
            font-size:16px;
            color:#1C1C1C;
            font-weight:400;
            text-align: center;
        }
    }

    .user-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:16px;

        .join-now{
            color:#FFFFFF;
            font-size:13px;
            text-align: center;
            font-weight:500;
            border-radius:6px;
            padding: 0 10px;
            max-width:180px;
            width:100%;
            height:30px;
            background: linear-gradient(0deg, #127FFF 0%,#0067FF 100%);
            border:none;
            cursor: pointer;
            margin-bottom:7px;
        }
        .log-in{
            border:none;
            cursor: pointer;
            padding: 0 10px;
            max-width:180px;
            width:100%;
            height:30px;
            font-size:13px;
            color:#0D6EFD;
            font-weight:500;
            text-align: center;
            background-color: #FFFFFF;
            border-radius:6px;
        }

        .log-in:hover{
            background: linear-gradient(0deg, #127FFF 0%,#0067FF 100%);
            color:#FFFFFF;
        }

        .join-now:hover{
            background: #FFFFFF;
            color:#0D6EFD;
        }
    }
}

.orange-card{
    background-color:#F38332;
    border-radius:6px;
    padding:16px 16px 22px 16px;
    margin-bottom:10px;
    cursor: pointer;

    p{
        color:#FFF;
        font-size:16px;
        font-weight:400;

    }
}
.orange-card:hover{
    background-color:#d16f29 ;
}

.blue-card{
    background-color:#55BDC3;
    border-radius:6px;
    padding:16px 16px 22px 16px;
    cursor: pointer;

    p{
        color:#FFF;
        font-size:16px;
        font-weight:400;

    }
}
.blue-card:hover{
    background-color:#419b9f;
}