/* Custom styling for the dropdown items */
.dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:20%;
    right:10%;
    background-color: #8B96A5;
    padding:20px;
    border:1px solid #007bff;
    border-radius:6px;

    .country-menu{
      display: flex;
      align-items: flex-start;
    }
  }
  
  /* Custom styling for the dropdown icons */
  .dropdown-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  

  
  /* Styling for the dropdown menu */
  .dropdown-menu {
    border-color: #007bff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  