// @mixin flex {
//     display:flex;
//     align-items: center;
//     justify-content: ;
// }


.header-wrapper{
    display:flex;
    justify-content:space-between;
   margin:auto;
   padding:22px 0 24px 0;
    width:82%;

 
 
    form{
        display:flex;
        align-items: center;
        justify-content: center;
       ::placeholder{
        font-size:16px;
        color:#8B96A5;
       }
       // gasastorebelia inputi
    }

    .logo{
        display:flex;
        align-items: center;
    }

    .icons{
        display:flex;
        align-items: center;
    
       div{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left:48px;
        cursor: pointer;
        p{
            margin-top:7px;
            font-size:12px;
            color:#8B96A5;
        }
       }
    }
}

.border{
    // margin-top:24px;
    width:100%;
    height:1px;
    background-color:#E0E0E0;
}

.category-wrapper{
    display:flex;
    justify-content:space-between;
    margin:auto;
    padding:17px 0;
    width:82%;
}

    .categories{
        display:flex;
        align-items: center;
       

        img{
           cursor: pointer;
        }
       


          .category {
            p {
            font-size: 16px;
            font-weight: 500;
            color: #1C1C1C;
            margin-left: 25px;
          }
        // gasasworebelia stili 
        
        }
    }
.countries{
    display: flex;
    align-items: center;

    div{
        display: flex;
        align-items: center;
        margin-left:32px;;

        .flag{
            margin:0 9px 0 6px;
        }

        img{
            cursor: pointer;
        }
    }
}