
.header-wrapper{
    display:flex;
    justify-content:space-between;
   margin:auto;
   padding:22px 0 24px 0;
    width:82%;

 
 
    form{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        .input-wrapper{
            display:flex;
            border-radius: 6px;
            border: solid 1px #0D6EFD;
             width: 100%;
        }

       input{
        border-radius: 6px;
        border:none;
        padding: 10px 11px;
        max-width: 420px;
        width: 100%;
        max-width: 420px;
       }
       ::placeholder{
        color: #8B96A5;
        font-size: 16px;
       }
       select{
        padding: 10px 11px;
        border: none;
         border-left: 1px solid #0D6EFD;
        color: #1C1C1C;
        font-size: 16px;
        -moz-appearance:none; 
        -webkit-appearance:none; 
        appearance:none;
        background-image: url("../../assets/expand_more.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 10px);
        max-width: 145px;
        width: 100%;
        outline: none;
       }
      
       button{
        padding: 10px 11px;
        background: linear-gradient(0deg, #127FFF 0%,#0067FF 100%);
        box-shadow: none;
        outline: none;
        color: #ffffff;
        width: 100%;
        max-width: 100px;
        border: none;
        cursor: pointer;
       }
     
    }

    .logo{
        display:flex;
        align-items: center;
    }

    .icons{
        display:flex;
        align-items: center;
    
       div{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left:23px;
        cursor: pointer;
        p{
            margin-top:7px;
            font-size:12px;
            color:#8B96A5;
        }
       }
    }
}

.border{
    width:100%;
    height:1px;
    background-color:#E0E0E0;
}

.category-wrapper{
    display:flex;
    justify-content:space-between;
    margin:auto;
    padding:17px 0;
    width:82%;
}

    .categories{
        display:flex;
        align-items: center;
        img{
           cursor: pointer;
        }
      .category:first-of-type{
        li{
            margin-left: 6px;
        }
        }
        .category {
            Li{
                font-size: 16px;
                font-weight: 500;
                color: #1C1C1C;
                margin-left: 25px;  
                cursor: pointer;
            }
            li:hover{
                color:#0067FF;
            }
        }
    }
.countries{
    display: flex;
    align-items: center;

    div{
        display: flex;
        align-items: center;
        margin-left:32px;;

        .flag{
            margin:0 9px 0 6px;
        }

        img{
            cursor: pointer;
        }
    }
}